{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
<div class="container-xxl p-3 mt-1 mx-auto mb-5 bg-light">
    <div class="border rounded border-3 px-5 py-5 " >
        <div class="d-flex justify-content-center ">       
            <h1 class="text-uppercase fw-bolder text-decoration-underline mt-5"style="color:#1350a2;">ACTIVITES</h1>
        </div>       
        <div class="fs-5 d-flex justify-content-center mt-5 fw-normal">
            <p>« Au GEM, nous nous rencontrons pour discuter, boire un thé ou un café, nous partageons des repas
et réalisons de nombreuses activités. Au sein des locaux nous organisons des temps de réflexions et
débats, des ateliers : cuisine, cosmétique, musique, écriture, loisirs créatifs, relaxation, jeux de
société, etc.
En dehors des locaux sont organisées des sorties cinéma, des balades, piscine, jardinage.
Les activités sont planifiées en fonction des souhaits et centres d’intérêts des adhérents et peuvent
être très diversifiées. 
Par ailleurs, des temps d’entraide sont également nombreux : chantiers participatifs,
déménagements des adhérents, dons d’objets, etc. »</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div id="carouselActivity" class="carousel slide mt-5" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{asset('assets/images/activités/café.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bienvenu à l'Association "Les Univers Singulier"</h5>
                            <p>"Venez prendre un café !!"</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/images/activités/atelier_cuisine.jpeg')}}" class="d-block w-100" alt="...">
                         <div class="carousel-caption d-none d-md-block">
                            <p>"Atelier cuisine: recette pâtes fraîches"</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/images/activités/atelier_cosmétique.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p>"Atelier cosmétique, réalisation de gel d'aloé vérae"</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/images/activités/atelier_musique.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p>"Eventuellement si la musique vous intéresse !!"</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{asset('assets/images/activités/jardin_partagé.jpg')}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p>"Activité jardin"</p>
                        </div>
                    </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselActivity" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselActivity" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>        
</div>
{% endblock %}
