{% extends 'base.html.twig' %}

{% block title %}Mook{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="border rounded border-3 px-5 py-5 bg-light" >
        <div class="d-flex justify-content-center ">       
            <h1 class="text-uppercase fw-bolder text-decoration-underline mt-3"style="color:#1350a2;">QU’EST-CE QU’UN MOOK ?</h1>
        </div>       
        <div class="fs-5 d-flex justify-content-center mt-5 fw-normal">
            <p>Un mook est une publication périodique intermédiaire entre la revue et le livre  illustré : il peut être plus fourni qu’un magazine en restant moins conséquent qu’un livre. C’est le format qui nous semble le plus souple et le plus adaptable en terme de numéros, style, etc.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center px-5 py-5 ">       
        <img src="{{asset('assets/images/Gomette 2.png')}}" width="60px" height="60px" alt="ma bannière">
        <img src="{{asset('assets/images/Gomette 3.png')}}" width="80px" height="80px" alt="ma bannière">
        <img src="{{asset('assets/images/Gomette 2.png')}}" width="60px" height="60px" alt="ma bannière">
    </div> 
    <div class="border rounded border-3 px-5 py-5 bg-light" >
        <div class="d-flex justify-content-center ">       
            <h1 class="text-uppercase fw-bolder text-decoration-underline mt-3"style="color:#1350a2;">MOOK 1</h1>
        </div>       
        <div class="fs-5  mt-5 fw-normal">
            <p>À la suite d’un échange courant mars 2020 concernant une participation à la journée internationale d’information sur l’autisme (2 avril 2020), l’idée de rassembler des témoignages de personnes autistes a émergé. Nous souhaitions donner la possibilité à chacun de mettre en avant son univers singulier, au-delà des clichés, et avec une liberté totale d’expression à travers des témoignages et des illustrations. Au fur et à mesure, nous avons rassemblé des récits qui composent un patchwork reflétant la diversité de nos univers singuliers, puis sont venus étoffer notre mook un dictionnaire amoureux de l’autisme et un guide pour permettre aux personnes non autistes de mieux appréhender l’autisme et les personnes autistes, afin qu’elles bénéficient d’outils précieux pour co construire une relation respectueuse.</p>
            <div class="d-flex justify-content-center align-items-center">
                <img src="{{asset('assets/images/mook.jpg')}}" width="100px" height="100px" alt="ma bannière">
                <a class=" ms-5" style="color: #fa7824;" href="https://drive.google.com/file/d/1WlZbgKKZ0A6j7uLRxVywZE2xIsCvwDst/view?usp=sharing">Téléchargement de la version PDF du Mook 1</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center px-5 py-5 ">       
        <img src="{{asset('assets/images/Gomette 2.png')}}" width="60px" height="60px" alt="ma bannière">
        <img src="{{asset('assets/images/Gomette 3.png')}}" width="80px" height="80px" alt="ma bannière">
        <img src="{{asset('assets/images/Gomette 2.png')}}" width="60px" height="60px" alt="ma bannière">
    </div> 
    <div class="border rounded border-3 px-5 py-5 bg-light" >
        <div class="d-flex justify-content-center ">       
            <h1 class="text-uppercase fw-bolder text-decoration-underline mt-3"style="color:#1350a2;">MOOK 2</h1>
        </div>       
        <div class="fs-5 d-flex justify-content-center mt-5 fw-normal">
            <p>La sortie du premier Mook a suscité beaucoup d’intérêts de la part des futurs adhérents, des
professionnels partenaires et du grand public. Mais il y a encore tant à dire... Aussi, l’écriture d’un
deuxième Mook « L’errance diagnostique » a été entrepris et est en cours d’achèvement. De son titre
très parlant, il retrace le parcours difficile du diagnostic de l’autisme avec de nouveaux témoignages
poignants et authentiques. Ce second volume comporte également des articles abordant les
particularités liées à ce diagnostic. La sortie de ce deuxième numéro de nos Univers Singuliers est
prévue entre fin 2024 et début 2025.</p>
        </div>
    </div>
</div>   
{% endblock %}
