<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/favicon.ico')}}">
        
        <!-- Feuilles de styles -->
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet">


        <!-- Fichiers scripts -->
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
        {% block javascripts %} {% endblock %}
        <script src="{{ asset('assets/js/script.js')}}" defer></script>
    </head>
    <body>
        {% include '_commons/_banner.html.twig' %}
        {% include '_commons/_nav.html.twig' %}
        

        {% block body %}{% endblock %}

        
        {% include '_commons/_footer.html.twig' %}
    </body>
